*.mo
*.pyc
*.sw?
*.sqlite3
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
coverage.xml
nosetests.xml
pep8.txt
pylint.txt
reports
doc/build/
doc/source/sourcecode
/static/
.venv
.tox
build
dist
AUTHORS
ChangeLog
tags
iswift.egg-info/
.project
.pydevproject
.settings/
.tox
.venv
