<link rel="shortcut icon" href="/static/img/favicon.ico"/>
<link rel='stylesheet' href='/static/bootstrap/css/bootstrap.css' type='text/css'>   
<link rel='stylesheet' href='/static/bootstrap/css/bootstrap-theme.css'  type='text/css'>
<link rel='stylesheet' href='/static/css/iswift.css' type='text/css'>
<link rel='stylesheet' href='/static/css/page_icon.css' type='text/css'>
<link rel='stylesheet' href='/static/css/file_type.css' type='text/css'>
<link rel='stylesheet' href='/static/css/right_menu.css' type='text/css'>
<script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.js"></script>
<script type="text/javascript" src='/static/js/amcharts.js' ></script>