<div id="foot_bar">
	<div id="footer-top-margin"></div>
	<div id="footer-border"></div>
	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
		<ul>
			<li class="header"><img src="/static/img/fatcow/16_16/direction.png">iSwift云存储</li>
			<!--
			<li><a href="/install">安装</a></li>
			<li><a href="/mobile">移动终端</a></li>
			<li><a href="/pricing">价格</a></li>
			-->
			<li><a href="/mng/companylogin" target="_blank"><img src="/static/img/fatcow/16_16/origami.png">企业登录</a></li>
			<li><a href="/register" target="_blank"><img src="/static/img/fatcow/16_16/text_signature.png">企业注册</a></li>
			<li><a href="/mng/superlogin" target="_blank"><img src="/static/img/fatcow/16_16/administrator.png">超级管理员</a></li>
		</ul>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
		<ul>
			<li class="header"><img src="/static/img/fatcow/16_16/lighthouse_shine.png">社区</li>
			<!--
			<li><a href="http://www.renren.com/240942110" >人人</a></li>
			<li><a href="http://twitter.com/" target="_blank">Twitter</a></li>
			<li><a href="http://facebook.com/" target="_blank">Facebook</a></li>
			-->			<li><a href="/developers" target="_blank"><img src="/static/img/fatcow/16_16/acorn.png">用户论坛</a></li>
			<li><a href="/developers" target="_blank"><img src="/static/img/fatcow/16_16/comments.png">互动开发人员</a></li>						<li><a href="/developers" target="_blank"><img src="/static/img/fatcow/16_16/page_add.png">在线留言</a></li>
		</ul>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
		<ul>
			<li class="header" target="_blank"><img src="/static/img/fatcow/16_16/user_ninja.png">关于我们</li>
			<li><a href="http://blog.sina.com/" target="_blank"><img src="/static/img/fatcow/16_16/blogs.png">iSwift博客</a></li>
			<li><a href="/teams" target="_blank"><img src="/static/img/fatcow/16_16/group.png">我们的队伍</a></li>
			<li><a href="/news" target="_blank"><img src="/static/img/fatcow/16_16/rubber_duck.png">新闻中心</a></li>
			<li><a href="/jobs" target="_blank"><img src="/static/img/fatcow/16_16/user_go.png">加入我们</a></li>
		</ul>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
		<ul>
			<li class="header" target="_blank"><img src="/static/img/fatcow/16_16/virus_protection.png">技术支持</li>
			<li><a href="/userhelp" target="_blank"><img src="/static/img/fatcow/16_16/toolbox.png">帮助中心</a></li>
			<!--
			<li><a href="/terms">Privacy & Terms</a></li>
			-->
			<li><a href="/iscprght" target="_blank"><img src="/static/img/fatcow/16_16/help.png">版权声明</a></li>
			<li><a href="/contact" target="_blank"><img src="/static/img/fatcow/16_16/ufo.png">联系我们</a></li>
		</ul>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pull-right text-center">
		<div>
			<p>刘宇龙2012-2013</p>
			<p>copyright(c) LIU Yulong</p>
			<p><img src="/static/img/fatcow/16_16/safari_browser.png">safari,<img src="/static/img/fatcow/16_16/firefox.png">firefox,<img src="/static/img/fatcow/16_16/google.png">chrome,<img src="/static/img/fatcow/16_16/opera.png">opera,<img src="/static/img/fatcow/16_16/internet_explorer.png">ie8+</p>
			<!--<img src="/static/img/cnsocial/renren.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/sina-weibo.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/qzone.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/163weibo.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/douban.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/qqweibo.png" class="page_icon_size16">
			<img src="/static/img/cnsocial/yahoo.png" class="page_icon_size16">
			<img src="/static/img/fatcow/16_16/facebook.png">
			<img src="/static/img/fatcow/16_16/twitter_1.png">
			<img src="/static/img/fatcow/16_16/linkedin.png">
			<img src="/static/img/fatcow/16_16/google_plus.png">
			-->
		</div>
		<div style="padding-left:80px;height:40px;">
			<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a style="height:40px;" class="bds_qzone"></a>
				<a style="height:40px;"  class="bds_tsina"></a>
				<a style="height:40px;"  class="bds_tqq"></a>
				<a style="height:40px;"  class="bds_renren"></a>
				<a style="height:40px;"  class="bds_t163"></a>
				<span  style="height:40px;"  class="bds_more">更多</span>
			</div>
			<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
			<script type="text/javascript" id="bdshell_js"></script>
			<script type="text/javascript">
			   document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
			</script>
		</div>
		<!-- Baidu Button BEGIN Baidu Button END -->
	</div>
</div><!--foot bar结束 -->
</div><!--whole page结束 -->
<script type="text/javascript" src="/static/js/iswift.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
