<div id="left_bar">
      <ul id="left_menu">
        <h5>DASHBOARD<a class="pull-right" href="{{logo_link}}"><img src="/static/img/fatcow/32_32/{%block icon%}{% endblock %}.png" style="width:24px" />iSwift</a></h5>
        <li class="{{company_files_class}}"><a href="/userdashboard"><img src="/static/img/icon_spacer.gif" style="" class=" sprite page_icon_size20 page_icon_companyfiledb_20">企业文档<span class="title">Enterprise</span></a></li>
        <li class="{{private_files_class}}"><a href="/privatefiles"><img src="/static/img/icon_spacer.gif" style="" class=" sprite page_icon_size20 page_icon_privatefiles_20">我的文档<span class="title">Personal</span></a></li>
        <li class="{{share_files_class}}"><a href="/mysharedfiles"><img src="/static/img/icon_spacer.gif" style="" class=" sprite page_icon_size20 page_icon_usershare_20">我的分享<span class="title">Share</span></a></li>
        <li class="{{recycle_files_class}}"><a href="/deletedfiles"><img src="/static/img/icon_spacer.gif" style="" class=" sprite page_icon_size20 page_icon_recycle_20">回收站<span class="title">Recycle</span></a></li>
        <li class="{{version_files_class}}"><a href="/filesversion"><img src="/static/img/icon_spacer.gif" style="" class=" sprite page_icon_size20 page_icon_version_20">版本管理<span class="title">Version</span></a></li><br />  
      </ul>
</div><!-- left menu结束 -->

