.page_icon_file_16 {width: 16px;height: 16px;}
.page_icon_file_32 {width: 32px;height: 32px;}

/* 32*32 */
.page_icon_file_tp0 {background-image: url("/static/img/fatcow/32_32/folder_blue.png");}
.page_icon_file_tp1 {background-image: url("/static/img/fatcow/32_32/file_extension_7z.png");}
.page_icon_file_tp2 {background-image: url("/static/img/fatcow/32_32/file_extension_ace.png");}
.page_icon_file_tp3 {background-image: url("/static/img/fatcow/32_32/file_extension_ai.png");}
.page_icon_file_tp4 {background-image: url("/static/img/fatcow/32_32/file_extension_aif.png");}
.page_icon_file_tp5 {background-image: url("/static/img/fatcow/32_32/file_extension_aiff.png");}
.page_icon_file_tp6 {background-image: url("/static/img/fatcow/32_32/file_extension_amr.png");}
.page_icon_file_tp7 {background-image: url("/static/img/fatcow/32_32/file_extension_asf.png");}
.page_icon_file_tp8 {background-image: url("/static/img/fatcow/32_32/file_extension_asx.png");}
.page_icon_file_tp9 {background-image: url("/static/img/fatcow/32_32/file_extension_bat.png");}
.page_icon_file_tp10 {background-image: url("/static/img/fatcow/32_32/file_extension_bin.png");}
.page_icon_file_tp11 {background-image: url("/static/img/fatcow/32_32/file_extension_bmp.png");}
.page_icon_file_tp12 {background-image: url("/static/img/fatcow/32_32/file_extension_bup.png");}
.page_icon_file_tp13 {background-image: url("/static/img/fatcow/32_32/file_extension_cab.png");}
.page_icon_file_tp14 {background-image: url("/static/img/fatcow/32_32/file_extension_cbr.png");}
.page_icon_file_tp15 {background-image: url("/static/img/fatcow/32_32/file_extension_cda.png");}
.page_icon_file_tp16 {background-image: url("/static/img/fatcow/32_32/file_extension_cdl.png");}
.page_icon_file_tp17 {background-image: url("/static/img/fatcow/32_32/file_extension_cdr.png");}
.page_icon_file_tp18 {background-image: url("/static/img/fatcow/32_32/file_extension_chm.png");}
.page_icon_file_tp19 {background-image: url("/static/img/fatcow/32_32/file_extension_dat.png");}
.page_icon_file_tp20 {background-image: url("/static/img/fatcow/32_32/file_extension_divx.png");}
.page_icon_file_tp21 {background-image: url("/static/img/fatcow/32_32/file_extension_dll.png");}
.page_icon_file_tp22 {background-image: url("/static/img/fatcow/32_32/file_extension_dmg.png");}
.page_icon_file_tp23 {background-image: url("/static/img/fatcow/32_32/file_extension_doc.png");}
.page_icon_file_tp24 {background-image: url("/static/img/fatcow/32_32/file_extension_dss.png");}
.page_icon_file_tp25 {background-image: url("/static/img/fatcow/32_32/file_extension_dvf.png");}
.page_icon_file_tp26 {background-image: url("/static/img/fatcow/32_32/file_extension_dwg.png");}
.page_icon_file_tp27 {background-image: url("/static/img/fatcow/32_32/file_extension_eml.png");}
.page_icon_file_tp28 {background-image: url("/static/img/fatcow/32_32/file_extension_eps.png");}
.page_icon_file_tp29 {background-image: url("/static/img/fatcow/32_32/file_extension_exe.png");}
.page_icon_file_tp30 {background-image: url("/static/img/fatcow/32_32/file_extension_fla.png");}
.page_icon_file_tp31 {background-image: url("/static/img/fatcow/32_32/file_extension_flv.png");}
.page_icon_file_tp32 {background-image: url("/static/img/fatcow/32_32/file_extension_gif.png");}
.page_icon_file_tp33 {background-image: url("/static/img/fatcow/32_32/file_extension_gz.png");}
.page_icon_file_tp34 {background-image: url("/static/img/fatcow/32_32/file_extension_hqx.png");}
.page_icon_file_tp35 {background-image: url("/static/img/fatcow/32_32/file_extension_htm.png");}
.page_icon_file_tp36 {background-image: url("/static/img/fatcow/32_32/file_extension_html.png");}
.page_icon_file_tp37 {background-image: url("/static/img/fatcow/32_32/file_extension_ifo.png");}
.page_icon_file_tp38 {background-image: url("/static/img/fatcow/32_32/file_extension_indd.png");}
.page_icon_file_tp39 {background-image: url("/static/img/fatcow/32_32/file_extension_iso.png");}
.page_icon_file_tp40 {background-image: url("/static/img/fatcow/32_32/file_extension_jar.png");}
.page_icon_file_tp41 {background-image: url("/static/img/fatcow/32_32/file_extension_jpeg.png");}
.page_icon_file_tp42 {background-image: url("/static/img/fatcow/32_32/file_extension_jpg.png");}
.page_icon_file_tp43 {background-image: url("/static/img/fatcow/32_32/file_extension_lnk.png");}
.page_icon_file_tp44 {background-image: url("/static/img/fatcow/32_32/file_extension_log.png");}
.page_icon_file_tp45 {background-image: url("/static/img/fatcow/32_32/file_extension_m4a.png");}
.page_icon_file_tp46 {background-image: url("/static/img/fatcow/32_32/file_extension_m4b.png");}
.page_icon_file_tp47 {background-image: url("/static/img/fatcow/32_32/file_extension_m4p.png");}
.page_icon_file_tp48 {background-image: url("/static/img/fatcow/32_32/file_extension_m4v.png");}
.page_icon_file_tp49 {background-image: url("/static/img/fatcow/32_32/file_extension_mcd.png");}
.page_icon_file_tp50 {background-image: url("/static/img/fatcow/32_32/file_extension_mdb.png");}
.page_icon_file_tp51 {background-image: url("/static/img/fatcow/32_32/file_extension_mid.png");}
.page_icon_file_tp52 {background-image: url("/static/img/fatcow/32_32/file_extension_mov.png");}
.page_icon_file_tp53 {background-image: url("/static/img/fatcow/32_32/file_extension_mp2.png");}
.page_icon_file_tp54 {background-image: url("/static/img/fatcow/32_32/file_extension_mp4.png");}
.page_icon_file_tp55 {background-image: url("/static/img/fatcow/32_32/file_extension_mpeg.png");}
.page_icon_file_tp56 {background-image: url("/static/img/fatcow/32_32/file_extension_mpg.png");}
.page_icon_file_tp57 {background-image: url("/static/img/fatcow/32_32/file_extension_msi.png");}
.page_icon_file_tp58 {background-image: url("/static/img/fatcow/32_32/file_extension_mswmm.png");}
.page_icon_file_tp59 {background-image: url("/static/img/fatcow/32_32/file_extension_ogg.png");}
.page_icon_file_tp60 {background-image: url("/static/img/fatcow/32_32/file_extension_pdf.png");}
.page_icon_file_tp61 {background-image: url("/static/img/fatcow/32_32/file_extension_png.png");}
.page_icon_file_tp62 {background-image: url("/static/img/fatcow/32_32/file_extension_pps.png");}
.page_icon_file_tp63 {background-image: url("/static/img/fatcow/32_32/file_extension_ps.png");}
.page_icon_file_tp64 {background-image: url("/static/img/fatcow/32_32/file_extension_psd.png");}
.page_icon_file_tp65 {background-image: url("/static/img/fatcow/32_32/file_extension_pst.png");}
.page_icon_file_tp66 {background-image: url("/static/img/fatcow/32_32/file_extension_ptb.png");}
.page_icon_file_tp67 {background-image: url("/static/img/fatcow/32_32/file_extension_pub.png");}
.page_icon_file_tp68 {background-image: url("/static/img/fatcow/32_32/file_extension_qbb.png");}
.page_icon_file_tp69 {background-image: url("/static/img/fatcow/32_32/file_extension_qbw.png");}
.page_icon_file_tp70 {background-image: url("/static/img/fatcow/32_32/file_extension_qxd.png");}
.page_icon_file_tp71 {background-image: url("/static/img/fatcow/32_32/file_extension_ram.png");}
.page_icon_file_tp72 {background-image: url("/static/img/fatcow/32_32/file_extension_rar.png");}
.page_icon_file_tp73 {background-image: url("/static/img/fatcow/32_32/file_extension_rm.png");}
.page_icon_file_tp74 {background-image: url("/static/img/fatcow/32_32/file_extension_rmvb.png");}
.page_icon_file_tp75 {background-image: url("/static/img/fatcow/32_32/file_extension_rtf.png");}
.page_icon_file_tp76 {background-image: url("/static/img/fatcow/32_32/file_extension_sea.png");}
.page_icon_file_tp77 {background-image: url("/static/img/fatcow/32_32/file_extension_ses.png");}
.page_icon_file_tp78 {background-image: url("/static/img/fatcow/32_32/file_extension_sit.png");}
.page_icon_file_tp79 {background-image: url("/static/img/fatcow/32_32/file_extension_sitx.png");}
.page_icon_file_tp80 {background-image: url("/static/img/fatcow/32_32/file_extension_ss.png");}
.page_icon_file_tp81 {background-image: url("/static/img/fatcow/32_32/file_extension_swf.png");}
.page_icon_file_tp82 {background-image: url("/static/img/fatcow/32_32/file_extension_tgz.png");}
.page_icon_file_tp83 {background-image: url("/static/img/fatcow/32_32/file_extension_thm.png");}
.page_icon_file_tp84 {background-image: url("/static/img/fatcow/32_32/file_extension_tif.png");}
.page_icon_file_tp85 {background-image: url("/static/img/fatcow/32_32/file_extension_tmp.png");}
.page_icon_file_tp86 {background-image: url("/static/img/fatcow/32_32/file_extension_torrent.png");}
.page_icon_file_tp87 {background-image: url("/static/img/fatcow/32_32/file_extension_ttf.png");}
.page_icon_file_tp88 {background-image: url("/static/img/fatcow/32_32/file_extension_txt.png");}
.page_icon_file_tp89 {background-image: url("/static/img/fatcow/32_32/file_extension_vcd.png");}
.page_icon_file_tp90 {background-image: url("/static/img/fatcow/32_32/file_extension_vob.png");}
.page_icon_file_tp91 {background-image: url("/static/img/fatcow/32_32/file_extension_wav.png");}
.page_icon_file_tp92 {background-image: url("/static/img/fatcow/32_32/file_extension_wma.png");}
.page_icon_file_tp93 {background-image: url("/static/img/fatcow/32_32/file_extension_wmv.png");}
.page_icon_file_tp94 {background-image: url("/static/img/fatcow/32_32/file_extension_wps.png");}
.page_icon_file_tp95 {background-image: url("/static/img/fatcow/32_32/file_extension_xls.png");}
.page_icon_file_tp96 {background-image: url("/static/img/fatcow/32_32/file_extension_xpi.png");}
.page_icon_file_tp97 {background-image: url("/static/img/fatcow/32_32/file_extension_zip.png");}
.page_icon_file_tp98 {background-image: url("/static/img/fatcow/32_32/file_extension_mp3.png");}
.page_icon_file_tp99 {background-image: url("/static/img/fatcow/32_32/page_white_php.png");}
.page_icon_file_tp100 {background-image: url("/static/img/fatcow/32_32/page_white.png");}
.page_icon_file_tp101 {background-image: url("/static/img/fatcow/32_32/page_white_code.png");}
.page_icon_file_tp102 {background-image: url("/static/img/fatcow/32_32/page_white_cplusplus.png");}
.page_icon_file_tp103 {background-image: url("/static/img/fatcow/32_32/page_white_csharp.png");}
.page_icon_file_tp104 {background-image: url("/static/img/fatcow/32_32/page_white_h.png");}
.page_icon_file_tp105 {background-image: url("/static/img/fatcow/32_32/page_white_visualstudio.png");}
.page_icon_file_tp106 {background-image: url("/static/img/fatcow/32_32/page_white_actionscript.png");}
.page_icon_file_tp107 {background-image: url("/static/img/fatcow/32_32/page_white_acrobat.png");}
.page_icon_file_tp108 {background-image: url("/static/img/fatcow/32_32/page_white_c.png");}
.page_icon_file_tp109 {background-image: url("/static/img/fatcow/32_32/page_white_powerpoint.png");}
.page_icon_file_tp110 {background-image: url("/static/img/fatcow/32_32/page_white_word.png");}
.page_icon_file_tp111 {background-image: url("/static/img/fatcow/32_32/file_extension_3gp.png");}


/* 16*16 */
.page_icon_file_16_tp0 {background-image: url("/static/img/fatcow/16_16/folder_blue.png");}
.page_icon_file_16_tp1 {background-image: url("/static/img/fatcow/16_16/file_extension_7z.png");}
.page_icon_file_16_tp2 {background-image: url("/static/img/fatcow/16_16/file_extension_ace.png");}
.page_icon_file_16_tp3 {background-image: url("/static/img/fatcow/16_16/file_extension_ai.png");}
.page_icon_file_16_tp4 {background-image: url("/static/img/fatcow/16_16/file_extension_aif.png");}
.page_icon_file_16_tp5 {background-image: url("/static/img/fatcow/16_16/file_extension_aiff.png");}
.page_icon_file_16_tp6 {background-image: url("/static/img/fatcow/16_16/file_extension_amr.png");}
.page_icon_file_16_tp7 {background-image: url("/static/img/fatcow/16_16/file_extension_asf.png");}
.page_icon_file_16_tp8 {background-image: url("/static/img/fatcow/16_16/file_extension_asx.png");}
.page_icon_file_16_tp9 {background-image: url("/static/img/fatcow/16_16/file_extension_bat.png");}
.page_icon_file_16_tp10 {background-image: url("/static/img/fatcow/16_16/file_extension_bin.png");}
.page_icon_file_16_tp11 {background-image: url("/static/img/fatcow/16_16/file_extension_bmp.png");}
.page_icon_file_16_tp12 {background-image: url("/static/img/fatcow/16_16/file_extension_bup.png");}
.page_icon_file_16_tp13 {background-image: url("/static/img/fatcow/16_16/file_extension_cab.png");}
.page_icon_file_16_tp14 {background-image: url("/static/img/fatcow/16_16/file_extension_cbr.png");}
.page_icon_file_16_tp15 {background-image: url("/static/img/fatcow/16_16/file_extension_cda.png");}
.page_icon_file_16_tp16 {background-image: url("/static/img/fatcow/16_16/file_extension_cdl.png");}
.page_icon_file_16_tp17 {background-image: url("/static/img/fatcow/16_16/file_extension_cdr.png");}
.page_icon_file_16_tp18 {background-image: url("/static/img/fatcow/16_16/file_extension_chm.png");}
.page_icon_file_16_tp19 {background-image: url("/static/img/fatcow/16_16/file_extension_dat.png");}
.page_icon_file_16_tp20 {background-image: url("/static/img/fatcow/16_16/file_extension_divx.png");}
.page_icon_file_16_tp21 {background-image: url("/static/img/fatcow/16_16/file_extension_dll.png");}
.page_icon_file_16_tp22 {background-image: url("/static/img/fatcow/16_16/file_extension_dmg.png");}
.page_icon_file_16_tp23 {background-image: url("/static/img/fatcow/16_16/file_extension_doc.png");}
.page_icon_file_16_tp24 {background-image: url("/static/img/fatcow/16_16/file_extension_dss.png");}
.page_icon_file_16_tp25 {background-image: url("/static/img/fatcow/16_16/file_extension_dvf.png");}
.page_icon_file_16_tp26 {background-image: url("/static/img/fatcow/16_16/file_extension_dwg.png");}
.page_icon_file_16_tp27 {background-image: url("/static/img/fatcow/16_16/file_extension_eml.png");}
.page_icon_file_16_tp28 {background-image: url("/static/img/fatcow/16_16/file_extension_eps.png");}
.page_icon_file_16_tp29 {background-image: url("/static/img/fatcow/16_16/file_extension_exe.png");}
.page_icon_file_16_tp30 {background-image: url("/static/img/fatcow/16_16/file_extension_fla.png");}
.page_icon_file_16_tp31 {background-image: url("/static/img/fatcow/16_16/file_extension_flv.png");}
.page_icon_file_16_tp32 {background-image: url("/static/img/fatcow/16_16/file_extension_gif.png");}
.page_icon_file_16_tp33 {background-image: url("/static/img/fatcow/16_16/file_extension_gz.png");}
.page_icon_file_16_tp34 {background-image: url("/static/img/fatcow/16_16/file_extension_hqx.png");}
.page_icon_file_16_tp35 {background-image: url("/static/img/fatcow/16_16/file_extension_htm.png");}
.page_icon_file_16_tp36 {background-image: url("/static/img/fatcow/16_16/file_extension_html.png");}
.page_icon_file_16_tp37 {background-image: url("/static/img/fatcow/16_16/file_extension_ifo.png");}
.page_icon_file_16_tp38 {background-image: url("/static/img/fatcow/16_16/file_extension_indd.png");}
.page_icon_file_16_tp39 {background-image: url("/static/img/fatcow/16_16/file_extension_iso.png");}
.page_icon_file_16_tp40 {background-image: url("/static/img/fatcow/16_16/file_extension_jar.png");}
.page_icon_file_16_tp41 {background-image: url("/static/img/fatcow/16_16/file_extension_jpeg.png");}
.page_icon_file_16_tp42 {background-image: url("/static/img/fatcow/16_16/file_extension_jpg.png");}
.page_icon_file_16_tp43 {background-image: url("/static/img/fatcow/16_16/file_extension_lnk.png");}
.page_icon_file_16_tp44 {background-image: url("/static/img/fatcow/16_16/file_extension_log.png");}
.page_icon_file_16_tp45 {background-image: url("/static/img/fatcow/16_16/file_extension_m4a.png");}
.page_icon_file_16_tp46 {background-image: url("/static/img/fatcow/16_16/file_extension_m4b.png");}
.page_icon_file_16_tp47 {background-image: url("/static/img/fatcow/16_16/file_extension_m4p.png");}
.page_icon_file_16_tp48 {background-image: url("/static/img/fatcow/16_16/file_extension_m4v.png");}
.page_icon_file_16_tp49 {background-image: url("/static/img/fatcow/16_16/file_extension_mcd.png");}
.page_icon_file_16_tp50 {background-image: url("/static/img/fatcow/16_16/file_extension_mdb.png");}
.page_icon_file_16_tp51 {background-image: url("/static/img/fatcow/16_16/file_extension_mid.png");}
.page_icon_file_16_tp52 {background-image: url("/static/img/fatcow/16_16/file_extension_mov.png");}
.page_icon_file_16_tp53 {background-image: url("/static/img/fatcow/16_16/file_extension_mp2.png");}
.page_icon_file_16_tp54 {background-image: url("/static/img/fatcow/16_16/file_extension_mp4.png");}
.page_icon_file_16_tp55 {background-image: url("/static/img/fatcow/16_16/file_extension_mpeg.png");}
.page_icon_file_16_tp56 {background-image: url("/static/img/fatcow/16_16/file_extension_mpg.png");}
.page_icon_file_16_tp57 {background-image: url("/static/img/fatcow/16_16/file_extension_msi.png");}
.page_icon_file_16_tp58 {background-image: url("/static/img/fatcow/16_16/file_extension_mswmm.png");}
.page_icon_file_16_tp59 {background-image: url("/static/img/fatcow/16_16/file_extension_ogg.png");}
.page_icon_file_16_tp60 {background-image: url("/static/img/fatcow/16_16/file_extension_pdf.png");}
.page_icon_file_16_tp61 {background-image: url("/static/img/fatcow/16_16/file_extension_png.png");}
.page_icon_file_16_tp62 {background-image: url("/static/img/fatcow/16_16/file_extension_pps.png");}
.page_icon_file_16_tp63 {background-image: url("/static/img/fatcow/16_16/file_extension_ps.png");}
.page_icon_file_16_tp64 {background-image: url("/static/img/fatcow/16_16/file_extension_psd.png");}
.page_icon_file_16_tp65 {background-image: url("/static/img/fatcow/16_16/file_extension_pst.png");}
.page_icon_file_16_tp66 {background-image: url("/static/img/fatcow/16_16/file_extension_ptb.png");}
.page_icon_file_16_tp67 {background-image: url("/static/img/fatcow/16_16/file_extension_pub.png");}
.page_icon_file_16_tp68 {background-image: url("/static/img/fatcow/16_16/file_extension_qbb.png");}
.page_icon_file_16_tp69 {background-image: url("/static/img/fatcow/16_16/file_extension_qbw.png");}
.page_icon_file_16_tp70 {background-image: url("/static/img/fatcow/16_16/file_extension_qxd.png");}
.page_icon_file_16_tp71 {background-image: url("/static/img/fatcow/16_16/file_extension_ram.png");}
.page_icon_file_16_tp72 {background-image: url("/static/img/fatcow/16_16/file_extension_rar.png");}
.page_icon_file_16_tp73 {background-image: url("/static/img/fatcow/16_16/file_extension_rm.png");}
.page_icon_file_16_tp74 {background-image: url("/static/img/fatcow/16_16/file_extension_rmvb.png");}
.page_icon_file_16_tp75 {background-image: url("/static/img/fatcow/16_16/file_extension_rtf.png");}
.page_icon_file_16_tp76 {background-image: url("/static/img/fatcow/16_16/file_extension_sea.png");}
.page_icon_file_16_tp77 {background-image: url("/static/img/fatcow/16_16/file_extension_ses.png");}
.page_icon_file_16_tp78 {background-image: url("/static/img/fatcow/16_16/file_extension_sit.png");}
.page_icon_file_16_tp79 {background-image: url("/static/img/fatcow/16_16/file_extension_sitx.png");}
.page_icon_file_16_tp80 {background-image: url("/static/img/fatcow/16_16/file_extension_ss.png");}
.page_icon_file_16_tp81 {background-image: url("/static/img/fatcow/16_16/file_extension_swf.png");}
.page_icon_file_16_tp82 {background-image: url("/static/img/fatcow/16_16/file_extension_tgz.png");}
.page_icon_file_16_tp83 {background-image: url("/static/img/fatcow/16_16/file_extension_thm.png");}
.page_icon_file_16_tp84 {background-image: url("/static/img/fatcow/16_16/file_extension_tif.png");}
.page_icon_file_16_tp85 {background-image: url("/static/img/fatcow/16_16/file_extension_tmp.png");}
.page_icon_file_16_tp86 {background-image: url("/static/img/fatcow/16_16/file_extension_torrent.png");}
.page_icon_file_16_tp87 {background-image: url("/static/img/fatcow/16_16/file_extension_ttf.png");}
.page_icon_file_16_tp88 {background-image: url("/static/img/fatcow/16_16/file_extension_txt.png");}
.page_icon_file_16_tp89 {background-image: url("/static/img/fatcow/16_16/file_extension_vcd.png");}
.page_icon_file_16_tp90 {background-image: url("/static/img/fatcow/16_16/file_extension_vob.png");}
.page_icon_file_16_tp91 {background-image: url("/static/img/fatcow/16_16/file_extension_wav.png");}
.page_icon_file_16_tp92 {background-image: url("/static/img/fatcow/16_16/file_extension_wma.png");}
.page_icon_file_16_tp93 {background-image: url("/static/img/fatcow/16_16/file_extension_wmv.png");}
.page_icon_file_16_tp94 {background-image: url("/static/img/fatcow/16_16/file_extension_wps.png");}
.page_icon_file_16_tp95 {background-image: url("/static/img/fatcow/16_16/file_extension_xls.png");}
.page_icon_file_16_tp96 {background-image: url("/static/img/fatcow/16_16/file_extension_xpi.png");}
.page_icon_file_16_tp97 {background-image: url("/static/img/fatcow/16_16/file_extension_zip.png");}
.page_icon_file_16_tp98 {background-image: url("/static/img/fatcow/16_16/file_extension_mp3.png");}
.page_icon_file_16_tp99 {background-image: url("/static/img/fatcow/16_16/page_white_php.png");}
.page_icon_file_16_tp100 {background-image: url("/static/img/fatcow/16_16/page_white.png");}
.page_icon_file_16_tp101 {background-image: url("/static/img/fatcow/16_16/page_white_code.png");}
.page_icon_file_16_tp102 {background-image: url("/static/img/fatcow/16_16/page_white_cplusplus.png");}
.page_icon_file_16_tp103 {background-image: url("/static/img/fatcow/16_16/page_white_csharp.png");}
.page_icon_file_16_tp104 {background-image: url("/static/img/fatcow/16_16/page_white_h.png");}
.page_icon_file_16_tp105 {background-image: url("/static/img/fatcow/16_16/page_white_visualstudio.png");}
.page_icon_file_16_tp106 {background-image: url("/static/img/fatcow/16_16/page_white_actionscript.png");}
.page_icon_file_16_tp107 {background-image: url("/static/img/fatcow/16_16/page_white_acrobat.png");}
.page_icon_file_16_tp108 {background-image: url("/static/img/fatcow/16_16/page_white_c.png");}
.page_icon_file_16_tp109 {background-image: url("/static/img/fatcow/16_16/page_white_powerpoint.png");}
.page_icon_file_16_tp110 {background-image: url("/static/img/fatcow/16_16/page_white_word.png");}
.page_icon_file_16_tp111 {background-image: url("/static/img/fatcow/16_16/file_extension_3gp.png");}

.page_icon_file_np {background-repeat: no-repeat;}