{% extends "base.html" %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<div class="page-header">
              <h1>加入我们<small>Join Us</small></h1>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
    		<ul class="nav nav-list navbar well">
                    <li><h4>招聘信息<i class="icon-sitemap"></i></h4></li>
                    
                    <hr>
                    
                    <li><h5>研发部</h5></li>
                    <li><a href=""><i class="icon-chevron-right"></i>使用</a></li>
                    <li><a href=""><i class="icon-chevron-right"></i>空间服务</a></li>
                    <li><a href=""><i class="icon-chevron-right"></i>了解详情</a></li>
                    <li><a href=""><i class="icon-chevron-right"></i>联系我们</a></li>
                    
                	<hr>
                	
	                <li><h5>营销部</h5></li>
	                <li><a href=""><i class="icon-chevron-right"></i>注册</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>登录</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>文件管理</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>版本管理</a></li>
	                
	                <hr>
                	
	                <li><h5>人事管理</h5></li>
	                <li><a href=""><i class="icon-chevron-right"></i>注册</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>登录</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>空间管理</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>企业管理</a></li>
	                <li><a href=""><i class="icon-chevron-right"></i>组织机构	</a></li>
	                
          </ul>
    </div>
    <div class="span9">
    Body content
    </div>
    </div>
    </div>
{% endblock %}