{% extends "base.html" %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<div class="page-header">
              <h1>权利声明<small>Copyright</small></h1>
</div>
<div class="bs-docs-example">
       <div class="page-header">
              			<p><img src="/static/img/fatcow/32_32/exclamation.png" style="width:22px"> 本站有部分资源来自网络，原作者无法查询，如发现本站有使用不当的内容或者资源，侵犯了您的版权，请及时联系我们，我们会尽快处理。</p>
       </div>
              
       <div class="panel-group" id="accordion">
             
                <!-- collapsePIC -->
                <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePIC">
				          <img src="/static/img/fatcow/32_32/flower.png" style="width:22px"> 图片
				        </a>
				      </h4>
				    </div>
				    <div id="collapsePIC" class="panel-collapse collapse in">
				      <div class="panel-body">
				        <p>本站上使用的部分图标来自于<a href="http://www.famfamfam.com/lab/icons/silk/" target="_blank">famfamfam.com</a>, 该图标的使用遵循<a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>, 其版权归原作者www.famfamfam.com 所有.</p>
                      <p>另有部分图标来自于<a href="http://www.fatcow.com/free-icons" target="_blank"><img src="/static/img/fatcow/16_16/fatcow.png">FatCow Web Hosting</a>, 该图标的使用遵循<a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 License</a>, 其版权归原作者 FatCow Web Hosting - www.fatcow.com 所有.</p>
                      <p>还有部分图标来自于<a href="http://glyphicons.com" target="_blank">Glyphicons Free</a>, 该图标的使用遵循<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a>, 其版权归原作者 Glyphicons - www.glyphicons.com 所有.</p>
                    </div>
				    </div>
				  </div>
                
                <!-- collapseCSS -->     
                <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCSS">
				          <img src="/static/img/fatcow/32_32/flood_it.png" style="width:22px"> CSS
				        </a>
				      </h4>
				    </div>
				    <div id="collapseCSS" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p>本站使用了<a href="http://www.fatcow.com/free-icons">Bootstrap</a>, 该项目的使用遵循<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 其版权归原作者 Twitter - Twitter.com 所有.</p>
                      <p>另外使用了<a href="http://www.fatcow.com/free-icons">context-menu</a>, 该项目的使用遵循<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 其版权归原作者所有.</p>
                    </div>
				    </div>
				  </div>
                
                
                <!-- collapseJS -->     
                <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseJS">
				          <img src="/static/img/fatcow/32_32/things_digital.png" style="width:22px"> JS
				        </a>
				      </h4>
				    </div>
				    <div id="collapseJS" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p>本站使用了<a href="http://www.fatcow.com/free-icons">jQuery</a>, 该图标的使用遵循<a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons (Attribution 3.0 United States)</a>, 其版权归原作者 FatCow Web Hosting - www.fatcow.com 所有.</p>
                      <p>另外使用了<a href="http://www.fatcow.com/free-icons">spark-md5</a>, 该图标的使用遵循<a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons (Attribution 3.0 United States)</a>, 其版权归原作者 FatCow Web Hosting - www.fatcow.com 所有.</p>
                    </div>
				    </div>
				  </div>
                
  
                <!-- collapseOBS -->     
                <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOBS">
				          <img src="/static/img/fatcow/32_32/network_clouds.png" style="width:22px"> 对象存储
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOBS" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p>对象存储，使用<a href="http://openstack.org">OpenStack Object Storage 1.4.3 (2011-09-22)</a></p>
                       <p>Copyright © 2010, 2011 OpenStack LLC All rights reserved.</p>
						<p>OpenStack Object Storage offers open source software for cloud-based object storage for any
						organization. This manual provides guidance for installing, managing, and understanding the software
						that runs OpenStack Object Storage.</p>
						<p>Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You
						may obtain a copy of the License at <a src="http://www.apache.org/licenses/LICENSE-2.0" >http://www.apache.org/licenses/LICENSE-2.0</a></p>
						<p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,
						WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing
						permissions and limitations under the License.</p>
					</div>
				    </div>
				  </div>
    
                 <!-- collapseSTRUCT -->     
                <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSTRUCT">
				          <img src="/static/img/fatcow/32_32/layout.png" style="width:22px"> 网页结构
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSTRUCT" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p>网站部分页面结构参考<a href="http://openstack.org">OpenStack Dashboard -- Horizon</a></p>
                       <p>Copyright © 2010, 2011 OpenStack LLC All rights reserved.</p>
                        <p>The OpenStackTM system has several key projects that are separate installations but can work together
						depending on your cloud needs: OpenStack Compute, OpenStack Object Storage, OpenStack Identity
						Service, and OpenStack Image Service. You can install any of these projects separately and then configure
						them either as standalone or connected entities. This guide walks through an installation using packages
						available through Ubuntu 12.04. It offers explanations for the configuration choices as well as sample
						configuration files.
						</p>
                        <p>Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You
                        may obtain a copy of the License at <a src="http://www.apache.org/licenses/LICENSE-2.0" >http://www.apache.org/licenses/LICENSE-2.0</a></p>
                        <p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,
                        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing
                        permissions and limitations under the License.</p>
					</div>
				    </div>
				  </div>
     
     </div>         
</div>
{% endblock %}